.conteneur {      
        width:1200px;
        height:2450px ;
		
        border:1px solid black;
		background-color:#00BFFF;
		   }
.flotteB {
        float:relative;

		width:1199px;
		height:2240px;
		
		margin-top:0px;
		margin-left:0px;
        background-color:silver;
        border:1px solid black;


	     }